body table td {
  height: 215px;
}

.container {
  height: 215px;
  position: relative;
}

.container:hover {
  cursor: pointer;
}

.watchLater {
  position: absolute;
  font-size: 135%;
  left: 164px;
  top: -6px;
  transform: translate(50%, 50%);
}

.hideI {
  visibility: hidden;
}

.playlistPlay {
  position: absolute;
  font-size: 135%;
  left: 175px;
  top: 22px;
  transform: translate(50%, 50%);
}

.thumbnail {
  width: 197.5px;
  height: 117.09px;
  margin: 7px 3px;
  background-size: cover;
  background-position: center;
}

.badge {
  width: 27px;
  height: 27px;
  padding-left: 3px;
  border-radius: 50%;
  float: left;
}

.title {
  width: 164.5px;
  font-size: 6px;
  float: right;
}
